@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap");

html, body {
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


a {
    text-decoration: none;
    color: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    margin: auto;
    padding: 45px 15px;
}

#logo {
    width: 260px;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

main {
    max-width: 1080px;
    margin: auto;
}

footer {
    text-align: center;
    font-size: 12px;
}



#artwork-list {
    display: flex;
    flex-wrap: wrap;
}

.artwork {
    width: 33.33%;
    padding: 15px;
}

.artwork img {
    width: 100%;
}

.artwork h2, #artwork-details h1 {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 30px;
}

.artwork .description, #artwork-details .description {
    font-style: italic;
    margin-top: 0;
    font-size: 12px;
    margin-bottom: 20px;
}

#artwork-details {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    margin-bottom: 100px;
    margin-top: 75px;
    font-size: 14px;
    padding: 0 15px;
}

#artwork-img {
    margin-right: 25px;
}

#artwork-img img {
    max-width: 470px;
    margin: auto;
    display: block;
}

#artwork-content {
    max-width: 470px;
}

form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 50px 10px;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

form input, form textarea {
    padding: 7px;
}

form textarea {
    height: 150px;
}

input[type="submit"] {
    margin: auto;
    color: white;
    background: black;
    border: none;
    width: 120px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    padding: 7px;
}


@media (max-width: 850px) {
    .artwork {
        width: 50%;
    }

    #artwork-img {
        margin-right: 0;
        width: 100%;
    }

    #artwork-img img {
        width: 100%;
    }

    #artwork-content {
        width: 100%;
        margin: auto;
    }
}

@media (max-width: 600px) {
    .artwork {
        width: 100%;
    }

    #logo {
        width: 200px;
    }

    header ul {
        flex-direction: column;
        gap: 0;
    }
}
